/* Home
############################################################################ */

.home {
  padding: 0;

  /* Opener 
  ------------------------------------------------------------------------- */
  .opener {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding: var(--fluid-space-m);
      inset: 0;

      &::after {
        position: absolute;
        z-index: 1;
        background: linear-gradient(15deg,
            rgb(0 0 0 / 10%) 0%,
            rgb(0 0 0 / 80%) 100%);
        content: '';
        inset: 0;
      }

      h1 {
        position: sticky;
        z-index: 2;
        top: var(--fluid-space-l);
        max-width: 20ch;
        color: var(--color-lightest);
        font-size: clamp(var(--font-size-2xl), 10vw, calc(var(--font-size-2xl) * 5));
        font-weight: var(--font-weight-bold);
        hyphens: none;
        line-height: 100%;
        opacity: 0.6;
        text-align: right;
        text-shadow: 0 0 50px rgb(0 0 0 / 100%);
        text-transform: uppercase;
        text-wrap: balance;
        ;

      }

    }

  }

  /* Intro Text
  ------------------------------------------------------------------------- */
  .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--fluid-space-xl) var(--fluid-space-m);

    &>* {
      max-width: calc(var(--max-width-content) * 1.5);
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-loose);
    }
  }

  /* About Carousel
  ------------------------------------------------------------------------- */
  .about-carousel {
    position: relative;
    overflow: hidden;
    padding-top: var(--fluid-space-s);
    padding-bottom: var(--fluid-space-s);
    border-top: solid var(--border-width-m) var(--color-light);
    border-bottom: solid var(--border-width-m) var(--color-light);
    margin-top: var(--fluid-space-xl);
    margin-bottom: var(--fluid-space-xl);

    .carousel-wrapper {
      display: grid;
      width: 300%;
      grid-template-columns: repeat(3, 1fr);
      transition: all var(--transition-normal);

      .carousel-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .about-item {
      align-self: center;
      padding: var(--fluid-space-xl) calc(var(--font-size-4xl) + var(--fluid-space-m));
    }

    .about-item.text-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--fluid-space-m);

      @media screen and (width >=40rem) {
        flex-direction: row-reverse;

        &>* {
          width: 50%;
        }
      }



      .image-stack {
        position: relative;
        display: grid;
        aspect-ratio: 1/1;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        img {
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius-m);
          animation: rotate-in 1s ease-in-out forwards;
          box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
          grid-area: 1/1 / 2/ 2;
          object-fit: cover;
          transition: all var(--transition-normal);
        }

        &:hover img {
          &:nth-child(1) {
            transform: translateX(-160%) rotate(-10deg);
          }

          &:nth-child(2) {
            transform: translateX(-80%);
          }

          &:nth-child(3) {
            transform: translateX(20%) rotate(10deg);
          }
        }
      }
    }

    .about-item.text-image-simple {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: var(--fluid-space-m);

      &>* {
        width: 50%;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-m);
        box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
        object-fit: cover;
      }
    }

    .button-previous {
      position: absolute;
      top: 50%;
      left: 0;
    }

    .button-next {
      position: absolute;
      top: 50%;
      right: 0;
    }

    .carousel-indicators {
      display: flex;
      justify-content: center;
      gap: var(--spacing-s);

      /* stylelint-disable-next-line no-descending-specificity */
      &>* {
        height: var(--spacing-s);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background-color: var(--color-light);

        &.active {
          background-color: var(--color-primary-default);
        }
      }
    }
  }

  /* Preview Masonry
  ------------------------------------------------------------------------- */
  .masonry {
    position: relative;
    display: grid;
    aspect-ratio: 4/3;
    gap: var(--spacing-s);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    &.is-16-to-9 {
      aspect-ratio: 16/9;
    }

    &.is-2-to-1 {
      aspect-ratio: 2/1;
    }

    &.is-3-to-1 {
      aspect-ratio: 3/1;
    }    

    .masonry-item {
      &[data-colspan="2"] {
        grid-column: span 2;
      }

      &[data-colspan="4"] {
        grid-column: span 4;
      }

      &[data-colspan="6"] {
        grid-column: span 6;
      }

      &[data-colspan="8"] {
        grid-column: span 8;
      }

      &[data-rowspan="2"] {
        grid-row: span 2;
      }

      &[data-rowspan="3"] {
        grid-row: span 3;
      }

      &[data-rowspan="4"] {
        grid-row: span 4;
      }

      &[data-rowspan="5"] {
        grid-row: span 5;
      }

      &[data-rowspan="6"] {
        grid-row: span 6;
      }

      &[data-rowspan="7"] {
        grid-row: span 7;
      }

      &[data-rowspan="8"] {
        grid-row: span 8;
      }

      &[data-rowspan="12"] {
        grid-row: span 12;
      }
    }

    img.masonry-item {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all var(--transition-normal);

      &:hover {
        box-shadow: 0 0 20px hsl(0deg 0 0 / 50%);
        transform: scale(1.2);
      }
    }



    figcaption {
      div {
        position: absolute;
        display: flex;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-lightest);
        inset: var(--fluid-space-xl) var(--fluid-space-m) var(--fluid-space-xl) var(--fluid-space-m);

        @media screen and (width >=60rem) {
          position: relative;
          height: 100%;
          inset: auto;
        }
      }

      p {
        padding: var(--spacing-s);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-regular);
        text-align: center;
        text-wrap: balance;
      }
    }
  }

  /* Braggy Numbers
  ------------------------------------------------------------------------- */

  .braggy-numbers {
    &>li {
      padding: var(--spacing-s);
      border-radius: var(--radius-s);
      margin: 0;
      background-color: var(--color-lighter);

      dl {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column-reverse;


        .icon {
          position: absolute;
          top: var(--spacing-xs);
          left: 0;
          font-size: var(--font-size-4xl);
        }

        dt {
          span {
            display: block;
          }

          font-weight: var(--font-weight-regular);
        }

        dd {
          margin-bottom: var(--spacing-2xs);
          font-size: var(--font-size-xl);
          font-weight: var(--font-weight-medium);
        }
      }

    }
  }

  /* Slideshow
  ------------------------------------------------------------------------- */

  .slideshow {
    position: relative;
    overflow: hidden;
    padding: var(--fluid-space-xl) var(--fluid-space-m);
    border-top: solid var(--border-width-m) var(--color-light);
    border-bottom: solid var(--border-width-m) var(--color-light);
    margin-bottom: var(--fluid-space-xl);

    .slideshow-wrapper {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: row;
      aspect-ratio: 5/3;
      transition: all var(--transition-normal);

    }

    .slideshow-item {
      display: flex;
      flex: 0 0 100%;
      justify-content: center;        

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--font-size-m);
        gap: var(--spacing-s);
        text-align: center;

        /* stylelint-disable-next-line no-descending-specificity */
        > img {
          display: block;
          width: auto;
          height: 100%;
        }
      }
    }    

    .slideshow-button-previous,
    .slideshow-button-next {
      position: absolute;
      z-index: 2;
      top: calc(var(--fluid-space-xl) + 30%);
      transform: translateY(-50%);

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    .slideshow-button-previous {
      left: var(--fluid-space-m);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .slideshow-button-next {
      right: var(--fluid-space-m);
    }

    /* Thumbnails
    ------------------------------------------------------------------------- */
    .slideshow-thumbnails {
      overflow: hidden;
      margin-top: var(--fluid-space-xl);
      
      .slideshow-thumbnails-list {
        display: flex;
        gap: var(--spacing-xs);
        transition: transform var(--transition-normal);
      }
      
      .slideshow-thumbnails-item {
        border: 3px solid transparent;
        margin-top: var(--spacing-xs);
        margin-bottom: var(--spacing-xs);
        cursor: pointer;
        transition: all var(--transition-normal);
        
        &:hover {
          transform: scale(1.05);
        }
        
        &.active {
          border-color: var(--color-primary-default);
        }
        
        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: auto;
          height: 110px;
          object-fit: cover;
          transition: all var(--transition-normal);
        }
      }
    }
  }  
}